body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size:50px;
    margin:15px;
}

.center {
    text-align:center;
}

.menuContainer {
    position:fixed;
    right:20px;
    bottom:100px;
    width:170px;
    height:75%;
    border:5px solid transparent;
    display:inline-block;
    text-align:center;
}

.menuBar {
    display:table;
    margin:0 auto;
    background-color:transparent;
    height:100%;
    z-index:1;
    bottom:60px;
    overflow:hidden;
    border-radius:20px;
    border:5px solid black;
}

.spanCenter {
    display:table-cell;
    vertical-align:middle;
}

.thermoLiquid {
    background-color:red;
    margin:0 auto;
    position: fixed;
    z-index:-1;
    text-align:center;
    bottom:100px;
    border-radius:20px;
    border:5px transparent;
    padding:13px 85px;
    transition:padding 0.5s;
}


.footButtonsContainer {
    text-align:center;
    position:relative;
}

button {
    border:3px solid black;
    border-radius:4px;
    color:black;
    padding:15px 25px;
    text-align:center;
}

.footButtons {
    margin:10px auto;
    display:inline-block;
}

img {
    border-radius:15px;
    height:30%;
    width:30%;
}

img:hover { /*shadow effect for images while you hover over them*/
    transition-duration: 0.2s;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5);
}

/*.circle {
    background-color:red;
    width:0px;
    display:fixed;
    margin:0 auto;
    z-index:1;
    bottom:100px;
    overflow:hidden;
    padding:100px;
    border-radius:999px;
    border:3px solid black;
}*/