html {
    -ms-overflow-style:none;
    scrollbar-width:none;
}
html::-webkit-scrollbar { /*these functions will hide the scroll bar from view for all commonly used browsers*/
    display:none;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding:0;
    background-size: 100%;
    /*background: linear-gradient(to bottom, rgb(61, 61, 255), rgb(69, 69, 255), rgb(119, 221, 255), white, rgb(252, 252, 103), rgb(255, 192, 76), rgb(250, 44, 44));
    background-repeat: no-repeat; */
    background-color: gray;
}

h1 {
    font-size:50px;
    margin:15px;
}

.imgDisplay {
    margin-left:25%;
    margin-right:25%;
}

.outline {
    border: 4px solid black;
    border-radius: 40px;
    background-color: rgb(211,211,211,0.3);
}

.center {
    text-align:center;
}

.centerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.mugInfo {
    width: 85%;
}

.policy {
    margin-left:2%;
    margin-right: 15%;
}

.menuContainer {
    position:fixed;
    right:20px;
    bottom:10%;
    width:170px;
    height:75%;
    border:5px solid transparent;
    display:inline-block;
    text-align:center;
}

.menuBar {
    display:table;
    margin:0 auto;
    background-color:transparent;
    height:100%;
    z-index:1;
    bottom:60px;
    overflow:hidden;
    border-radius:20px;
    border:5px solid black;
}

.spanCenter {
    display:table-cell;
    vertical-align:middle;
}

.thermoLiquid {
    background-color:red;
    margin:0 auto;
    position: fixed;
    z-index:-1;
    text-align:center;
    bottom:10%;
    border-radius:20px;
    border:5px transparent;
    padding:13px 85px;
    transition:padding 0.5s;
}


.footButtonsContainer {
    text-align:center;
    position:relative;
}

button {
    border:3px solid black;
    border-radius:4px;
    color:black;
    padding:15px 25px;
    text-align:center;
}

.menuButtons {
    width: 130px;
    height: 35px;
    padding: 5%;
    margin: 7px;
}

.footButtons {
    margin:10px auto;
    display:inline-block;
}

img {
    border-radius:15px;
    height:30%;
    width:30%;
    transition-duration: 0.2s;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
}

img:hover { /*shadow effect for images while you hover over them*/
    transition-duration: 0.2s;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
}

